---
// Layout
import Layout from '@layouts/Layout.astro';

// Components
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import GroupsList from '@components/GroupsList.astro';

import { getGroupAllInfo } from '@services/groups';

const groupsIds = Array.from(Array(10).keys());

const groupsInfo = await Promise.all(groupsIds.map(async(id) => {
  const { data: group } = await getGroupAllInfo(id + 1);
  return group;
}));

---

<Layout
	title="Torneo Frontenis Irapuato 2023"
	description="Primer Torneo Frontenis Irapuato en conmemoración al 479° Aniversario de la Fundación de la Ciudad de Irapuato"
	dark={true}
>
  <Header />

	<section class="my-16">
		<div class="container">
			<h1 class="text-5xl md:text-6xl text-tournment-yellow-200 text-center">Grupos</h1>
			<div class="mt-10">
				<GroupsList groups={groupsInfo}/>
			</div>
		</div>
	</section>

	<Footer />
</Layout>
