---
// Layout
import Layout from '@layouts/Layout.astro';

// Components
import GreenBackground from '@components/GreenBackground.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import Lines from '@components/Lines.astro';
import Footer from '@components/Footer.astro';
---

<Layout
	title="Torneo Frontenis Irapuato 2023"
	description="Primer Torneo Frontenis Irapuato en conmemoración al 479° Aniversario de la Fundación de la Ciudad de Irapuato"
	dark={true}
>
	<GreenBackground>
		<Header />
		<Hero/>
		<Lines/>
	</GreenBackground>

	<section>
		<h2>Agenda</h2>
	</section>

	<section>
		<h2>Reglas</h2>
	</section>

	<Footer />
</Layout>
