---
import Layout from '@layouts/Layout.astro';
import TeamsList from '@components/TeamsList.astro';
---

<Layout
title="Inscripci처n al Torneo Frontenis Irapuato 2023"
description="Primer Torneo Frontenis Irapuato en conmemoraci처n al 479째 Aniversario de la Fundaci처n de la Ciudad de Irapuato"
dark={true}>
  <main class="container py-10">
    <h1 class="text-center text-5xl">Sorteo</h1>
    <section class="mt-10">
      <!-- <TeamsList/> -->
    </section>
  </main>
</Layout>
