<footer>
  <div class="container">
    <h3>¿Quieres contactar?</h3>
    <p> Escríbe a hs.martinezramirez@hotmail.com</p>
    <p>O al numero 462-288-39-31</p>

    <p>
      <small>Desarrollado con ❤️ por <a href="#">Francsico Solís</a></small>
    </p>
  </div>
</footer>
