---
import MenuIcon from './icons/Menu.astro';
---

<header class="flex items-center p-6 text-center lg:justify-center">
  <input type="checkbox" id="menu" hidden class="peer">
  <label for="menu" class="relative z-50 lg:hidden peer-checked:[&>.first]:hidden peer-checked:[&>.last]:block">
    <MenuIcon/>
  </label>
  <nav
		class="absolute top-0 left-0 right-0 z-40 hidden min-h-screen place-content-center py-24 bg-tournment-dark-100 peer-checked:grid lg:block lg:static lg:bg-inherit lg:py-0 lg:min-h-0 bg-opacity-40 backdrop-blur-lg lg:backdrop-blur-0"
		id="navbar">
		<ul
			class="flex flex-col items-center lg:items-start lg:flex-row font-semibold tracking-tight gap-x-8 text-white/90 [&>li>a]:border-b-2 [&>li>a]:border-b-transparent [&>li>a]:transition-all [&>li>a]:text-xl [&>li>a]:font-bold gap-y-4">
			<li>
				<a href="/" class="hover:border-b-white hover:text-white">Inicio</a>
			</li>
			<li>
				<a href="/#agenda"
					class="relative hover:border-b-white hover:text-white">
					Agenda
				</a>
			</li>
			<li>
				<a href="/#reglas" class="hover:border-b-white hover:text-white">Reglas</a>
			</li>
			<li>
				<a class="hover:border-b-white hover:text-white" href="/#patrocinadores">Patrocinadores</a>
			</li>
			<li>
				<a class="hover:border-b-white hover:text-white" href="/#premios">
          Premios
				</a>
			</li>
		</ul>
	</nav>
</header>
