---
import LocationIcon from '@components/icons/Location.astro';
import AddToCalendarButton from '@components/AddToCalendarButton';

---

<main class="mt-14 pb-44 px-4 text-center">
    <picture class="inline-block max-w-[250px] mx-auto">
        <img
            src="/images/torneo.webp"
            alt=""
            class="w-full object-cover"
        />
    </picture>
    <div class="mt-5">
        <h1 class="text-5xl lg:text-6xl font-audiowide">
            Torneo Frontenis Irapuato
        </h1>
        <div class="mt-5 flex justify-center font-bold space-x-12">
            <AddToCalendarButton client:load >
                <p id="add-to-calendar" class="flex flex-col cursor-pointer text-transparent bg-clip-text bg-gradient-to-r from-tournment-yellow-100 to-tournment-yellow-200 hover:contrast-200 hover:scale-125 transition">
                    <span class="text-4xl lg:text-5xl">26</span>
                    <span class="text-3xl lg:ext-4xl">Marzo</span>
                    <span class="text-2xl lg:text-3xl">8:00 am</span>
                </p>
            </AddToCalendarButton>
            <a href="https://goo.gl/maps/h4dHpEXteS4dGpA97" target="_blank" rel="nofollow" class="flex flex-col cursor-pointer text-transparent bg-clip-text bg-gradient-to-r from-tournment-yellow-100 to-tournment-yellow-200 hover:scale-125 transition">
                <span>
                    <LocationIcon />
                </span>
                <span class="text-3xl lg:text-4xl">Deportiva</span>
                <span class="text-2xl lg:text-3xl">Norte</span>
            </a>
        </div>
    </div>
</main>
