---
import SchduleItem from './SchduleItem.astro';

const schedule = [
  {
    start: '8:00 am',
    title: ' Recepci贸n de Participantes',
    subtitle: 'Hora receptiva para el registro de todos los participantes'
  },
  {
    start: '8:30 am',
    title: ' Cierre de Recepci贸n',
    subtitle: 'Cierre de registro de asistencia de parejas.'
  },
  {
    start: '8:50 am',
    title: ' Inauguraci贸n del Torneo',
    subtitle: 'Ceremonia de Inauguraci贸n e indicaciones completas a los y las participantes.'
  },
  {
    start: '9:00 am',
    title: ' Inicio de Fase de Grupos',
    subtitle: 'Inicio de la fase de grupos pactada. Doble eliminaci贸n en esta fase.'
  },
  {
    start: '15:00 pm',
    title: ' Inicio de Fase Eliminatoria',
    subtitle: 'En este horario daremos inicio a la 煤ltima fase del torneo. Fase eliminatoria, 8vos, 4tos y Seminifinales.'
  },
  {
    start: '17:30 pm',
    title: ' Gran Final del Torneo',
    subtitle: 'Damos paso a la final'
  }
];

---

<table class="w-full border-4 border-tournment-yellow-200 bg-tournment-green-300">
  <tbody>
    {
      schedule.map(item => {
        return (
          <tr class="border-b-2 border-tournment-yellow-200">
            <td class="px-8 py-10">
              <SchduleItem {...item}/>
            </td>
          </tr>
        );
      })
    }
  </tbody>
</table>
